body,td,select,input,textarea,span,div{
	font-family:verdana;
	font-size: 10px;
}
body
{
	margin-top:13px;
	margin-left:7px;
	background:#FFFFFF;
}
a{
	color:#205AA7;
	text-decoration:none;
	cursor:hand;
	cursor:pointer;
}
a font 
{
	color:#2059A6 !important;
	text-decoration:none !important;
}
a img{
	border:0px;
}
